<div class="app-login-form">
    <app-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-snackbar>
    <h2>{{isLoginMode ? 'Login' : 'Sign up'}} Here</h2>
    <app-loader *ngIf="isLoading"></app-loader>
    <form #authForm="ngForm" (ngSubmit)="onFormSubmitted(authForm)" *ngIf="!isLoading">
        <div class="form-input">
            <label>Email Address</label>
            <input type="email" placeholder="Email address" 
            name="email"
             ngModel required email>
        </div>
        <div class="form-input">
            <label>Password</label>
            <input type="password" placeholder="Password" name="password" ngModel required minlength="8">
        </div>
        <button type="submit" [disabled]="authForm.invalid" 
        class="app-login-btn">{{isLoginMode ? 'Login' : 'Sign up'}}
        </button>
        <p>{{isLoginMode ? 'Do not have an accout yet? ' : 'Already have an account? '}}
            <button class="app-toggle-btn" type="button" (click)="onSwitchMode()">{{isLoginMode ? 'Register' :
                'Login'}}</button>
        </p>
    </form>
</div>