<section class="container" [ngClass]="{'form-shadow':registrationForm.touched}">
  <header>Registration Form</header>

  <form class="form" (ngSubmit)="OnFormSubmitted()" #registrationForm="ngForm">
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="First Name" 
        name="firstname" 
        ngModel required #fname="ngModel"
        [(ngModel)]="first"/>
        <div>
          <small *ngIf="fname.invalid && fname.touched">*First Name is a required Field</small>
          <span *ngIf="firstName">You entered: {{firstName}}</span>
        </div>
      </div>

      <div class="input-box">
        <input type="text" placeholder="Last Name" 
        name="lastname" ngModel 
        required #lname="ngModel" 
        [(ngModel)]="last"
        />
        <div>
          <small *ngIf="lname.invalid && lname.touched">*Last Name is a required Field</small>
          <span *ngIf="lastName">You entered: {{lastName}}</span>
        </div>
      </div>
    </div>

    <div class="input-box">
      <input type="text" placeholder="Email" 
      name="email" ngModel required 
      email #emaill="ngModel"
      />
      <div>
        <small *ngIf="emaill.invalid && emaill.touched">*Entered Email is not correct</small>
        <span *ngIf="email">You entered: {{email}}</span>
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number" name="phone" ngModel />
      </div>
      <div class="input-box">
        <input type="date" placeholder="Date of Birth" name="dob" ngModel 
        required #tempdob="ngModel"
        [(ngModel)]="ddob"/>
      </div>
    </div>

    <div class="input-box">
      <input type="text" placeholder="username" name="usernamee"
        ngModel required #uname="ngModel"/>
      <button type="button" class="btn-gen-username" [disabled]="fname.invalid || lname.invalid || tempdob.invalid"
       (click)="GenerateUsername()">
        Create a Username
      </button>
      <div>
        <small *ngIf="uname.invalid && uname.touched">*Username is required field</small>
      </div>  
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let gen of genders">
          <input type="radio" [id]="gen.id" name="gender" [value]="gen.value" ngModel />
          <label [for]="gen.id">{{gen.display}}</label>
        </div>






        <!-- <br> -->
        <!-- <div class="gender">
          <input type="radio" id="check-female" name="gender" ngModel />
          <label for="check-female" >Female</label>
        </div>
        <div class="gender">
          <input type="radio" id="check-other" name="gender" ngModel style="border: 10px solid black;"/>
          <label for="check-other" >prefer not to say</label>
        </div> -->
      </div>
    </div>

    <div class="input-box address" ngModelGroup="address" #addr="ngModelGroup">
      <label>Address</label>
      <input type="text" placeholder="Street address" name="street1" ngModel required/>
      <input type="text" placeholder="Street address line 2" name="street2" ngModel />
      <div class="column">
        <div class="select-box">
          <select name="country" ngModel required>
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="city" ngModel required />
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="region" />
        <input type="number" placeholder="Postal code" name="postal" ngModel required/>
      </div>
    </div>

    <div class="column">
      <input type="checkbox" name="agreement" ngModel [(ngModel)]="IsAgreed" >
      <label for="agreement">I agree to terms & conditions</label><br>
    </div>
    
    <small *ngIf="addr.invalid && addr.touched">*Some of the address field does contain the valid value</small>
    <input type="submit" value="Submit" class="submit-btn" [disabled]="!registrationForm.valid">
  </form>
</section>

<section class="user-detail-container">
  <div class="user-details-container">
    <div class="user-avatar">
      <p>{{firstName.slice(0,1).toUpperCase()}}{{lastName.slice(0,1).toUpperCase()}}</p>
    </div>
    <div class="user-details">
      <div class="username">
        <h2>{{firstName}}&nbsp;{{lastName}}</h2>
      </div>
      <p><b>Email : </b> {{email}}</p>
      <p><b>Username : </b>{{userName}}</p>
      <p><b>Date of birth : </b>{{dob}}</p>
      <div class="user-name">
        <h3>Address</h3>
      </div>
      <span>{{ this.country }}</span>
      <span>{{ city }}</span>
      <span>{{ region }}</span>
      <span>{{ postal }}</span>
    </div>
  </div>
</section>