/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #282C35;
}

.user-detail-container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  margin-top: 30px;
}

.user-details-container {
  display: flex;
}

.user-avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #282C35;
  font-size: 75px;
  font-weight: bold;
  padding: 40px 40px;
  color: white;
}

.user-details {
  padding: 0px 40px;
}

.user-name {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: #123 2px solid;
  width: 100%;
  margin-top: 10px;
}

span {
  padding: 5px 5px;
  font-weight: bold;
}


